<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="powerful_youtube_dl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <powerful_youtube_dl.Properties.Settings>
            <setting name="dlpath" serializeAs="String">
                <value />
            </setting>
            <setting name="ytdlexe" serializeAs="String">
                <value />
            </setting>
            <setting name="maxDownloading" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="playlistAsFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoLoadLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startWithSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoObservePlaylists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hierSingleVideo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hierSinglePlaylist" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="hierAllPlaylists" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="hierAllUsersVideos" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="autoStartDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sumDownloadedVideos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playlists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="savePlaylists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoDownloadObserve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="askBeforeDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="messageAfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="createLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logsDestination" serializeAs="String">
                <value />
            </setting>
        </powerful_youtube_dl.Properties.Settings>
    </userSettings>
</configuration>